<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starlive.org.mapper.EventScheduleMapper">

    <resultMap id="BaseResultMap" type="com.starlive.org.pojo.EventSchedule">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="eventId" column="event_id" jdbcType="BIGINT"/>
            <result property="scheduleName" column="schedule_name" jdbcType="VARCHAR"/>
            <result property="scheduleTime" column="schedule_time" jdbcType="TIMESTAMP"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,event_id,schedule_name,
        schedule_time,location,description,
        create_time,update_time,del_flag
    </sql>
</mapper>
