<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starlive.org.mapper.EventStatusLogsMapper">

    <resultMap id="BaseResultMap" type="com.starlive.org.pojo.EventStatusLogs">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="eventId" column="event_id" jdbcType="BIGINT"/>
            <result property="oldStatus" column="old_status" jdbcType="OTHER"/>
            <result property="newStatus" column="new_status" jdbcType="OTHER"/>
            <result property="changedAt" column="changed_at" jdbcType="TIMESTAMP"/>
            <result property="changedBy" column="changed_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,event_id,old_status,
        new_status,changed_at,changed_by,
        create_time,update_time,del_flag
    </sql>
</mapper>
